body {
  padding-bottom: 70px;
}

a {
    color: #0069AA;
    text-decoration: none;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2 {
    margin-top: 5px;
}

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    text-align: center;
}

.header nav li {
    display: inline-block;
    background-color: #999;
    border: 1px solid #aaa;
    border-radius: 4px
}

.header nav a,
.header nav a:visited {
    display: inline-block;
    width: 40px;
    padding: 8px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.header nav li.selected {
    border: 1px solid #ccc;
}

.header nav li:hover {
    border: 1px solid #eee;
}

.content {
    background: url(../img/mountains.png) 50% 5px no-repeat;
    min-height: 406px;
}

section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

#sections section {
    display: none;
}

#sections section.selected {
    display: block;
}